html, body {
  background-color: #FFF;
  color: #363636;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: .5em 1em;
  text-align: center;
}

.wrap main a:link, .wrap main a:visited {
  color: #D15454;
  text-decoration: none;
}

.wrap main a:hover, .wrap main a:active {
  color: #D15454;
  text-decoration: underline;
}

.wrap {
  margin: 0 auto;
  max-width: 640px;
  padding-top: 3%;
  position: relative;
  text-align: left;
}

.wrap.wide {
  max-width: 760px;
}

#profile {
  float: left;
  margin-bottom: 2em;
  width: 27%;
  text-align: right;
}

#profile a .alt {
  display: none;
}

#disqus_thread {
  margin: 1em 0;
}

.pic {
  display: none;
  margin-right: .5em;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  vertical-align: middle;
  overflow: hidden;
}

#sidebar {
  float: right;
  border-left: 1px #F5F5F5 solid;
  width: 70%;
  padding-bottom: 1em;
}

footer {
  clear: both;
  color: #CCC;
  font-size: .8em;
  text-align: center;
}

footer a:link, footer a:visited {
  color: #CCC;
}

footer a:hover, footer a:active {
  color: #999;
  text-decoration: underline;
}

#links {
  padding-top: .3em;
  line-height: 1.2;
}

#links a, #resume {
  padding-left: 3%;
}

#resume h2 {
  margin-top: 0;
}

#links li:nth-child(1) a { color: #D15454; }
#links li:nth-child(2) a { color: #D15469; }
#links li:nth-child(3) a { color: #D1547D; }
#links li:nth-child(4) a { color: #D15492; }
#links li:nth-child(5) a { color: #D154A7; }
#links li:nth-child(6) a { color: #D154BC; }
#links li:nth-child(7) a { color: #D154D1; }

#links a:link, #links a:visited {
  border-left: 2px solid transparent;
}

#links a:hover, #links a:active {
  border-left: 2px solid;
}

.figure {
  text-align: center;
}

.figure img {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.caption {
  color: #CCC;
  font-size: .7em;
}

.medium {
  font-size: .9em;
}

.small {
  font-size: .8em;
}

.xsmall {
  font-size: .7em;
}

.large {
  font-size: 1.2em;
}

.bold {
  font-weight: bold;
}

.copycolor {
  color: #363636;
}

.lowlight {
  color: #999;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.mjb {
  margin-bottom: 1em;
}

.mbr {
  margin-right: .2em;
}

.fa {
  display: inline-block;
  margin-right: .25em;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

#profile h2 {
  font-size: 1em;
  font-weight: normal;
}

h3 {
  margin-bottom: 0;
}

h4 {
  font-weight: 400;
  margin-bottom: 1em;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#links ul, #profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #262626;
  text-decoration: none;
  transition: border-color .3s, color .3s;
}

a.fa:hover, a.fa:active {
  color: #363636;
}

a span {
  margin-bottom: .2em;
}

.profile-compact {
  display: block;
  margin-bottom: 2em;
}

.profile-compact h1 {
  display: inline-block;
  font-size: .9em;
  font-weight: normal;
  vertical-align: middle;
}

.profile-compact .pic {
  display: inline-block;
}

.profile-compact ul {
  margin-top: -1.7em;
  text-align: right;
}

.profile-compact .name {
  display: inline-block;
  vertical-align: middle;
}

#post p {
  font-family: georgia, cambria, times, serif;
  font-weight: 300;
  line-height: 1.6;
}

@media print {
  #links li {
    border-bottom: 1px #F5F5F5 solid;
  }

  #links a, #post {
    padding-left: 0;
    padding-bottom: 3%;
  }

  #links a:link, #links a:visited {
    border-left: none;
    border-bottom: 2px solid transparent;
  }

  #links a:hover, #links a:active {
    border-left: none;
    border-bottom: 2px solid;
  }

  #sidebar {
    border-left: none;
  }

  #profile h1 {
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
  }

  #profile .pic {
    display: inline-block;
  }

  #profile ul {
    margin-top: -1.7em;
    text-align: right;
  }

  #profile li.mbr {
    margin: 0;
  }

  #profile a {
    display: block;
    font-size: .8em;
  }

  #profile a .fa {
    display: none;
  }

  #profile a .alt {
    display: inline;
  }

  #profile .name {
    display: inline-block;
    vertical-align: middle;
  }

  #profile h2 {
    display: none;
  }

  #profile, #sidebar {
    float: none;
    text-align: left;
    width: auto;
  }

  footer {
    display: none;
  }
}

@media (max-width: 480px) {
  #links li {
    border-bottom: 1px #F5F5F5 solid;
  }

  #links a, #post {
    padding-left: 0;
    padding-bottom: 3%;
  }

  #links a:link, #links a:visited {
    border-left: none;
    border-bottom: 2px solid transparent;
  }

  #links a:hover, #links a:active {
    border-left: none;
    border-bottom: 2px solid;
  }

  #sidebar {
    border-left: none;
  }

  #profile h1 {
    display: inline-block;
    font-size: .9em;
    font-weight: normal;
    vertical-align: middle;
  }

  #profile .pic {
    display: inline-block;
  }

  #profile ul {
    margin-top: -1.7em;
    text-align: right;
  }

  #profile .name {
    display: inline-block;
    vertical-align: middle;
  }

  #profile h2 {
    display: none;
  }

  #profile, #sidebar {
    float: none;
    text-align: left;
    width: auto;
  }
}
