<div class="wrap wide">
  <main>
    <div id="profile">
      <div class="pic">
        <img src="/images/alex.jpg" width="36" height="36" alt="Alex Mingoia Headshot" />
      </div>
      <h1>
        <a href="/" title="Home">
          <span class="name">Alex Mingoia</span>
        </a>
      </h1>
      <h2>Helping companies engineer great products.</h2>
      <ul class="large">
        <li class="inline mbr">
          <a class="lowlight fa fa-github"
             href="https://github.com/alexmingoia"
             title="GitHub"></a>
        </li>
        <li class="inline mbr">
          <a class="lowlight fa fa-twitter"
             href="https://twitter.com/alexmingoia"
             title="Twitter"></a>
        </li>
        <li class="inline">
          <a class="lowlight fa fa-envelope-square"
             href="mailto:talk@alexmingoia.com"
             title="E-mail"></a>
        </li>
      </ul>
    </div>
    <div id="sidebar">$body$</div>
  </main>
  <footer>
    <a href="https://github.com/alexmingoia/alexmingoia.github.io/">
      &lt;source/&gt;
    </a>
  </footer>
</div>
